<div class="mainn vh-100 p-3">

  <div class="container d-flex align-items-center flex-column text-light">

    <div class="search my-3 w-75">
      <input type="search" placeholder="Location" class="my-5 w-100 border rounded-5 p-4 fs-5 shadow bg-light">
    </div>

    <div class="LocationInfo text-center my-4 w-50">
      <h1 >Cairo, Egypt</h1>
      <h5 class="fst-italic">20:49 Fri 12 2022</h5>
    </div>

    <div class="temp border rounded-5 shadow text-center p-5">
      <h1 class="p-4 fw-bold">12°C</h1>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
